<a style="margin-left: 40px; font-size: 20px; font-weight: 300;" class="title acha" href="/api/courses/add">Add
    Course</a>
<div class="courses">
    {{#if courses.length}}
    {{#each courses }}
    <div data-aos="fade-up">

    <div class="course">
        <img width="100%" src="{{img}}" alt="{{img}}">
        <h3 style="margin-top: 5px;">{{name}}</h3>
        <div class="stars">
            <p>$ {{price}}</p>
        </div>
        <div class="ud">
            <a href="/api/courses/update/{{id}}"><img class="img" style="background: transparent;" src="/images/edit.png" alt="">Edit</a>
            <a href="/api/courses/del/{{id}}"><img class="img" style="background: transparent;" src="/images/trash.png" alt="">Delete</a>
            <a href="#!"><img class="img" style="background: transparent;" src="/images/buy.png" alt="">Buy</a>
        </div>
    </div>
    </div>
    {{/each}}
    {{else}}
</div>
<div data-aos="fade-up">
    <div class="empty" style="display: flex; align-items: center; margin-left: 250px;margin-top: 250px;">
        <img width="256px" src="/images/inbox.png" alt="">

        <h2 style="font-size: 60px; margin-left: 50px;" class="title">Nothing!!! <br>
            <span>Your collection list is empty</span> <br>
            <a class="title"
                style="text-decoration: none;  margin-left: 415px; font-size: 30px; font-weight: 300; !important"
                href="/api/courses/add">Add new course</a>
        </h2>
    </div>
</div>
{{/if}}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>