<form action="/api/settings/admin/edit/{{admin._id}}" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="username" value="{{admin.username}}" name="username">
    <input type="text" placeholder="name" value="{{admin.name}}" name="name">
    <input type="text" placeholder="surname" value="{{admin.surname}}" name="surname">
    <img src="{{admin.adminImg}}" alt="">
    <input type="file" name="adminImg">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Send</button>
</form>